@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


:root {
    --cor-primaria: #000000;
    --cor-secundaria: #F6F6F6;
    --cor-terciaria: #22D4FD;
    --cor-hover: #272727;

    --fonte-primaria:  'Krona One', sans-serif;
    --fonte-secundaria: 'Montserrat' , sans-serif;
}

*{
    margin: 0;
    padding: 0;
}

body{
    /* height: 100vh; 100vh para usar 100% da tela */
    box-sizing: border-box;
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
}

.cabecalho{
    padding: 2% 0% 0% 15% ;
}

.cabecalho__menu {
    display: flex;
    gap: 80px;
}


.cabecalho__menu__link {
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--cor-terciaria);
    text-decoration: none;
}


.apresentacao{
    /* margin: 10% 15%; */
    padding: 5% 15%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 82px;
}
.apresentacao__conteudo{
    width: 50%;
    display: flex; /*para tornar o conteudo como um contenier flex*/
    flex-direction: column; /*deixa todos os conteudos em uma coluna vertical*/
    gap: 40px; /*deixa um espacamento entre os conteudos*/

}

.apresentacao__conteudo__titulo{
    font-size: 2.25rem;
    font-family: var(--fonte-primaria);
}

.titulo-destaque{
    color: var(--cor-terciaria);
}


.apresentacao__conteudo__texto{
    font-size: 1.5rem;
    font-family: var(--fonte-secundaria);
}

.apresentacao__conteudo__texto:hover{
    background-color: var(--cor-hover);
}

.apresentacao__links { /* essa classe é para os links instagram e outros*/
    display: flex;
    flex-direction: column; /*isso deixa as colunas na vertical*/
    justify-content: space-between;
    align-items: center; /* alinhamento no centro*/
    gap: 32px; /* espacamento entre os links*/
}

.apresentacao__links__subtitulo {
    font-family: var(--fonte-primaria);
    font-weight: 400;
    font-size: 1.5rem;
}


.apresentacao__links__navegacao {
    /* background-color: #22D4FD; */ /*crtl+k+c atalho para comentar*/
    display: flex; /*para mudar a tag <a> para display flex*/
    justify-content: center; /*para alinhar o display flex no centro*/
    gap: 16px; /*para dar espaço entre o icone e a escrita */
    border: 2px solid var(--cor-terciaria) ;
    width: 50%; /*largura*/
    text-align: center;
    border-radius: 8px;
    font-size: 1.5rem;
    font-weight: 600;
    padding: 21.5px 0; /*1 valor vertical 2 valor horizontal*/
    text-decoration: none; /*para retirar a linha sublinhada do link*/
    color: var(--cor-secundaria);
    font-family: var(--fonte-secundaria);
}

.apresentacao__links__link:hover {
    background-color: var(--cor-hover);
}

.apresentacao__imagem {
    width: 50%;;
}

.rodape{
    color: var(--cor-primaria);
    background-color: var(--cor-terciaria);
    padding: 24px; /*colocar um espacamento dentro do rodape*/
    text-align: center;
    font-family: var(--fonte-secundaria);
    font-size: 1.5rem;
    font-weight: 400;
}

/*este @media foi usado para mudar o tamanho da foto levando em consideraçao o tamanho da tela 
quando a tela for maior que 1200px aplica-se a estruta normal do css
quando a tela for até 1200px aplica-se o @media abaixo
flex-direction para colocar a foto da classe .apresentação em coluna
columm-reverse para colocar no comeco do codigo.*/

@media (max-width:1200px){

.cabecalho {
    padding: 10%;
}

.cabecalho__menu{
    justify-content: center;
}

.apresentacao {
    flex-direction: column-reverse;
    padding: 5%;
}

.apresentacao__conteudo{
    width: auto;
}

}