@charset "UTF-8";
/*
em HTML é id    = em CSS é #
em HTML é class = em CSS é .(ponto)
*/

body{
    background-color: #d6fde9;
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: #1e402f;
}
/*Funciona tirando o h1 e deixando somente #principal*/
h1#principal {
    text-align: center;
    background-color: #3c805e;
    color: white;
}

h2{
    color: #3c805e;
}
